@model WebExample.Models.Car
@{
    ViewData["Title"] = "Մեքենաների մասին տվյալների ներմուծում";
}

<!DOCTYPE html>
<html lang="en">
   <head>
         <meta name="viewport" content="width=device-width"/>         
   </head>

   <body>  
       

         @using (Html.BeginForm())
         {
            <table>
               <tr>
                 <td> Car Id </td>
                 <td> @Html.TextBoxFor(c => c.Id) </td>                 
               </tr>
               <tr>
                 <td> Model </td>
                 <td> @Html.TextBoxFor(c=> c.Model) </td>
               </tr>
               <tr>
                 <td> Serial Number </td>
                 <td> @Html.TextBoxFor(c => c.SerialNumber) </td>
               </tr>
               <tr>                
                 <td><input type="submit" value="Հաստատել"/></td>
               </tr>
             </table>


          }
        
   </body>
</html>