<p>Fill the form:</p>
<form method="post">
    <table>
        <tr>
            <td>Model:</td>
            <td><input type="text" name="Model" /> </td>
        </tr>
        
        <tr>
            <td>Serial Number:</td>
            <td><input type="text" name="SerialNumber" /> </td>
        </tr>
        <tr><td><input type="submit" value="Create" /> </td><td></td></tr>
    </table>
</form>